@media screen {
    #page {
        background: white;
        border: 10px solid #ddd;
    }

    /* http://lea.verou.me/demos/css3-patterns.html */
    .bg-stripes {
        margin: 10px;

        -webkit-background-size: 100px 100px;
        -moz-background-size: 100px 100px;
        background-size: 100px 100px; /* Controls the size of the stripes */
    }
    .bg-angled {
        background-color: #c6c6c6;
        background-attachment: fixed;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                                                color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                                                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                                                color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                                                to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                                transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                                transparent 75%, transparent);
        background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                                transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                                transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                                transparent 75%, transparent);
    }

    .container {
        padding: 0;
    }

    #logoContainer {
        background-image: url(../images/php-de-2013-fin.png);
        background-position: center left;
        background-repeat: no-repeat;
        height: 80px;

    }

    #breadcrumbs ol {
        border-radius: 0 !important;
        margin: 0;
    }

    #breadcrumbs {
        border-bottom: 1px solid #ddd;
    }

    #contents dt {
        text-align: left;
        padding-left: 18px;
        text-indent: -9px;
    }

    .alert {
        border: 0 !important;
        border-left: 5px solid !important;
        border-radius: 0;
        text-align: justify;
        padding-left: 11px;
    }

    .alert.alert-default {
        border-color: #ddd !important;
    }

    .alert-success a,
    .alert-info a,
    .alert-warning a,
    .alert-error a,
    .alert-danger a {
        text-decoration: none;
        border-bottom: 1px dashed;
    }

    .left-alerted .alert {
        border: 0 !important;
        border-right: 5px solid !important;
        margin: 0;
        padding: 8px;
        padding-left: 15px;
    }

    td.left-alerted {
        padding: 0 !important;
    }

    .introduction {
        border-bottom: 1px solid #ddd !important;
        margin-bottom: 0;
    }

    .introduction.info-block {
        padding: 15px;
    }

    table.groups-table thead th {
        color: #aaa;
    }

    table.groups-table .state {
        width: 24%;
    }

    .group-panel.panel {
        border-radius: 0;
        border-top: 1px solid #f0f0f0;
        border-bottom: 2px solid #969696;
    }

    .panel {
        margin-bottom: 0;
    }

    table.groups-table.table td, table.groups-table.table th {
        padding-left: 15px;
    }

    #guide {
        margin-top: 0;
    }

    #guide .alert {
        margin-left: -15px;
        margin-right: -15px;
    }

    #guide .alert.introduction {
        margin-top: -15px;
        margin-bottom: 15px;
    }

    #guide .group-panel.panel {
        border-radius: 0 !important;
        border: 0;
        border-bottom: 1px solid #ddd;
    }

    #guide blockquote, blockquote p {
        font-size: 11pt !important;
        color: #777 !important;
    }

    #guide h1, #guide h2, #guide h3, #guide h4, #guide h5 {
        margin-top: 30px !important;
        border-bottom: 1px solid #eee;
        font-weight: bold;
    }

    #guide h1 a, #guide h2 a, #guide h3 a, #guide h4 a, #guide h5 a {
        color: #333;
        text-decoration: none;
    }

    #guide h1 {
        font-size: 1.8em !important;
    }

    #guide h2 {
        font-size: 1.6em !important;
    }

    #guide h3 {
        font-size: 1.4em !important;
    }

    #guide h4 {
        font-size: 1.2em !important;
    }

    #guide h5 {
        font-size: 1.0em !important;
    }

    #guide h6 {
        font-size: 0.9em !important;
    }

    #guide dl dt {
        font-weight: normal;
    }

    #guide dl dt span.glyphicon {
        color: #ddd;
    }

    #guide dl dd {
        margin-bottom: 8px;
        padding-left: 18px;
    }

    #guide .alert.contents {
        padding-top: 6px;
        padding-bottom: 6px;
        border-color: #bbb !important;
        border-bottom: 0 !important;
    }

    #guide .alert.contents dl {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .group-panel .panel-heading {
        background-color: #eee;
        border-radius: 0;
    }

    .shadowed {
        box-shadow: inset 0px 0px 8px #d8d8d8;
    }

    footer {
        text-align: center;
        padding: 15px;
    }

    footer > * {
        margin-top: 8px;
    }

    footer > *:last-child {
        margin-bottom: 15px;
    }

    * {
        box-sizing: content-box !important;
    }

    pre {
        margin: 10px -15px;
        padding: 9.5px 15px;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
    }

    .hljs {
        padding: 0;
        background: none;
    }
}

@media print {

}
