body {
    font-family:Helvetica, arial, freesans, clean, sans-serif;;
    font-size:11pt;

    background-color:#fff;
}

body > .pageWrap {
    background-image:url(../images/php-de-2013-fin.png);
    background-position:-20px top;
    background-repeat:no-repeat;
    margin-top:15px;
}

.pageWrap > .head {
    height:80px;
    display:block;
    content: " ";
}

.sectionStream {
    margin-top:12px;
}

.sectionStream a {
    cursor:pointer;
}

.container blockquote, .container blockquote p {
    font-size:11pt !important;
    color:#777 !important;
}

.container h1, .container h2, .container h3, .container h4, .container h5 {
    margin-top:30px !important;
    border-bottom:1px solid #eee;
}

.container h1 {
    font-size:2.4em !important;
    font-weight:bold;
}

.container h2 {
    font-size:2em !important;
    font-weight:bold;
}

.container h3 {
    font-size:1.6em !important;
    font-weight:bold;
}

.container h4 {
    font-size:1.2em !important;
    font-weight:bold;
}

.container h5 {
    font-size:1.0em !important;
    font-weight:bold;
}

.container ul.authors .active {
    background-color:#dff0d8;
    border-radius:0px !important;
}

.container footer {
    text-align:center;
    margin-top:4px;
    margin-bottom:24px;
}

.container a.list-group-item {
    color:#428bca;
}

code.prettyprint {
    padding:15px;
}
