body {
    font-family:Helvetica, arial, freesans, clean, sans-serif;;
    font-size:10pt;

    background-color:#fff;
}

body > .pageWrap {
    background-image:url(../images/php-de-krepo.png);
    background-position:right top;
    background-repeat:no-repeat;
    margin-top:35px;
}

.pageWrap > .head {
    height:56px;
    border-bottom:1px solid #484848;
}

.sectionStream {
    margin-top:12px;
}

.sectionStream a {
    cursor:pointer;
}

.container blockquote, .container blockquote p {
    font-size:10pt !important;
}

.container h1, .container h2, .container h3, .container h4, .container h5 {
    margin-top:20px !important;
}

.container p {
    font-size:15px important!;
    line-height:1.7;
}

.container h1 {
    font-size:2.4em !important;
}

.container h2 {
    font-size:2em !important;
}

.container h3 {
    font-size:1.6em !important;
}

.container h4 {
    font-size:1.2em !important;
}

.container h5 {
    font-size:1.0em !important;
}

.container ul.authors .active {
    background-color:#dff0d8;
    border-radius:0px !important;
}

.container footer {
    text-align:center;
    margin-top:4px;
    margin-bottom:24px;
}
