@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
    font-family:'Arimo', sans-serif;
    font-size:10pt;

    background-color:#fff;
}

body > .pageWrap {
    background-image:url(../images/php-de-krepo.png);
    background-position:right top;
    background-repeat:no-repeat;
    margin-top:35px;
}

.pageWrap > .head {
    height:56px;
    border-bottom:1px solid #484848;
}

.sectionStream {
    margin-top:12px;
}

.sectionStream a {
    cursor:pointer;
}

.container blockquote, .container blockquote p {
    font-size:10pt !important;
}

.font-up {
    font-size:12pt !important;
}
