<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title != 'index' %}{{ page.title }} &middot; {% endif %}PHP.de Wissenssammlung</title>

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ page.root }}/favicon.ico">
        <link rel="alternate" href="{{ page.root }}/feed/atom.xml" type="application/atom+xml" title="Atom Feed">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/agate.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad(); hljs.configure({languages: []});</script>

        <link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/general.css">
    </head>
    <body class="bg-stripes bg-angled">
        <div id="page" class="container">
            <div id="logoContainer" style="position:relative;">
                <a id="top"></a>
                <a href="{{ page.root }}/" style="position: absolute; left: 0; top: 0; height: 80px; width: 270px;"></a>
                <div style="position:absolute; bottom:12px; right:10px;">
                    <div class="list-group" style="padding:0px 15px; margin-bottom:0; padding-right:0px;">
                        <a class="list-group-item" href="https://www.facebook.com/groups/133593673518416/" style="padding:4px 10px;">
                            <span class="glyphicon glyphicon-user"></span><span style="hidden-xs hidden-sm"> zur Facebook-Gruppe</span>
                        </a>
                        <a class="list-group-item" href="http://www.php.de" style="padding:4px 10px;">
                            <span class="glyphicon glyphicon-list-alt"></span><span style="hidden-xs hidden-sm"> zum Forum</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="breadcrumbs">
                <ol class="breadcrumb">
                {% if page.title == 'index' %}
                    <li class="active">PHP.de Wissen</li>
                {% else %}
                    <li><a href="{{ page.root }}/">PHP.de Wissen</a></li>
                    {% for group in site.groups %}
                    {% if group.name == page.group %}
                    <li><a href="{{ page.root }}/#{{ group.anchor }}">{{ group.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="active">{{ page.title }}</li>
                {% endif %}
                </ol>
            </div>
            <div id="content">
                {{ content }}
            </div>
        </div>
        <div class="container">
            <footer>
                <p>
                    <a href="#top"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
                <p>
                    <small>&copy; Betreut durch die PHP.de Community - initiiert durch <a href="http://www.php.de/member.php?u=21246"><strong>hausl</strong></a> und <a href="http://www.php.de/member.php?u=21125"><strong>tr0y</strong></a>.</small>
                </p>
                <p>
                    <a title="Gesamtwerk" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Repository: Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/88x31.png" /></a>
                    <a title="Erklärender Sourcecode" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/deed.de" style="margin-left:15px"><img alt="Example Source: Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/p/zero/1.0/88x31.png" /></a>
                </p>
                <p>
                    <small>Das Gesamtwerk steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz</a>,<br />jeglicher Beispiel-Quellcode soweit nicht anders angegeben untersteht einer <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.de" rel="license">Creative Commons Public Domain Lizenz</a>.</small>
                </p>
            </footer>
        </div>
    </body>
</html>
