<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title != 'php.de' %}{{ page.title }} &middot; {% endif %}PHP.de Community Knowledge Repository</title>

        <!--<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" media="screen">-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/general.css">

        <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/assets/scroll.js"></script>
    </head>
    <body>
        <div id="page" class="container">
            <div id="logoContainer" style="position:relative;">
                <a id="top"></a>
                <div style="position:absolute; bottom:12px; right:10px;">
                    <div class="list-group" style="padding:0px 15px; margin-bottom:0; padding-right:0px;">
                        <a class="list-group-item" href="https://www.facebook.com/groups/133593673518416/" style="padding:4px 10px;">
                            <span class="glyphicon glyphicon-user"></span><span style="hidden-xs"> zur Facebook-Gruppe</span>
                        </a>
                        <a class="list-group-item" href="http://www.php.de" style="padding:4px 10px;">
                            <span class="glyphicon glyphicon-list-alt"></span><span style="hidden-xs"> zum Forum</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="breadcrumbs">
                <ol class="breadcrumb">
                {% if page.title == 'php.de' %}
                    <li class="active">PHP.de Wissen</li>
                {% else %}
                    <li><a href="{{ site.url }}">PHP.de Wissen</a></li>
                    {% for group in site.groups %}
                    {% if group.name == page.group %}
                    <li><a href="{{ site.url }}#{{ group.anchor }}">{{ group.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="active">{{ page.title }}</li>
                {% endif %}
                </ol>
            </div>
            <div id="content">
                {{ content }}
            </div>
        </div>
        <div class="container">
            <footer>
                <p>
                    <a href="{{ site.url }}{% if page.title != 'php.de' %}{{ page.url }}{% endif %}#top"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
                <p>
                    <small>&copy; Betreut durch die PHP.de Community - initiiert durch <strong>hausl</strong> und <strong>tr0y</strong>.</small>
                </p>
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/88x31.png" /></a>
                </p>
                <p>
                    <small>Dieses Werk bzw. Inhalt steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz</a>.</small>
                </p>
            </footer>
        </div>
    </body>
</html>
