---
layout: default
---
<div class="condensed alert alert-info introduction">
    {{ content }}
</div>
{% for sitegroup in site.groups %}
{% assign cgcount = 0 %}
<div class="group-panel panel panel-default">
    {% for current in site.pages %}{% if sitegroup.name == current.group %}{% assign cgcount = cgcount |plus:1 %}{% endif %}{% endfor %}
    <div class="panel-heading shadowed">
        <h2><a id="{{ sitegroup.anchor }}" href="#{{ sitegroup.anchor}}">{{ sitegroup.name | xml_escape }}</a></h2><span class="label label-default pull-right">{{ cgcount }} {% if cgcount > 1 %}Beiträge{% else %}Beitrag{% endif %}</span>
        <p style="margin-bottom:0; color:#888;"><small>{{ sitegroup.desc | xml_escape }}</small></p>
    </div>
    <table class="table groups-table">
        <thead>
            <tr>
                <th class="topic">Thema</th>
                <th class="state">Status</th>
            </tr>
        </thead>
        <tbody>{% for sortrange in (0..26) %}{% for current in site.pages %}{% if current.orderId %}{% assign orderId = current.orderId %}{% else %}{% assign orderId = site.orderId %}{% endif %}{% if sitegroup.name == current.group and orderId == sortrange %}
            <tr>
                <td class="topic"><a href="{{ page.root }}{{ current.url }}">{{ current.title | xml_escape }}</a>
                    {% if current.description and current.description != "" %}
                    <p style="margin: 4px 0 4px 15px;">{{ current.description | xml_escape }}</p>
                    {% endif %}
                </td>
                <td class="state left-alerted">{% case current.entry-type %}{% when 'in-progress' %}<div class="alert alert-danger">In Bearbeitung</div>{% when 'in-discussion' %}<div class="alert alert-warning">In Diskussion</div>{% when 'deprecated' %}<div class="alert-info">Veraltet</div>{% else %}<div class="alert alert-success">Fertiggestellt</div>{% endcase %}</td>
            </tr>{% endif %}{% endfor %}{% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
