---
layout: default
---
<div class="condensed alert alert-info introduction">
    {{ content }}
</div>
{% for sitegroup in site.groups %}
<div class="group-panel panel panel-default">
    <div class="panel-heading shadowed">
        <a id="{{ sitegroup.anchor }}" href="{{ site.url }}#{{ sitegroup.anchor}}">{{ sitegroup.name }}</a>
    </div>
    <div class="condensed info-block introduction ">
        {{ sitegroup.desc }}
    </div>
    <table class="table groups-table">
        <thead>
            <tr>
                <th class="topic">Thema</th>
                <th class="creator">Verfasser</th>
                <th class="state">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for current in site.pages %}
            {% if sitegroup.name == current.group %}
            <tr>
                <td class="topic"><a href="{{ current.url }}"><span class="glyphicon glyphicon-bookmark"></span> {{ current.title }}</a></td>
                <td class="creator">{{ current.creator }}</td>
                <td class="state left-alerted">{% case current.entry-type %}{% when 'in-progress' %}<div class="alert alert-danger">In Bearbeitung</div>{% when 'in-discussion' %}<div class="alert alert-warning">In Diskussion</div>{% when 'deprecated' %}<div class="alert-info">Veraltet</div>{% else %}<div class="alert alert-success">Fertiggestellt</div>{% endcase %}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
