---
layout: default
---

<div class="row sectionStream">
    <div class="col-lg-9">
        {% case page.entry-type %}
            {% when 'in-progress' %}    
        <div class="panel panel-danger">
            <div class="panel-heading">
                <span style="font-size:14pt">{{ page.title }}</span>
            </div>
            <p><strong>Dieser Beitrag ist zur Zeit in Bearbeitung.</strong><p>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ content }}
                </li>
            </ul>
            {% when 'deprecated' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <span style="font-size:14pt">{{ page.title }}</span>
            </div>
            <p><strong>Dieser Beitrag ist veraltet, du kannst ihn überarbeiten und uns deine Version des Beitrages vorschlagen.</strong><p>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ content }}
                </li>
            </ul>
            {% when 'in-discussion' %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <span style="font-size:14pt">{{ page.title }}</span>
            </div>
            <p><strong>Dieser Beitrag ist nicht final und wird diskutiert.</strong><p>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ content }}
                </li>
            </ul>
            {% when 'marked-to-delete' %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <span style="font-size:14pt">{{ page.title }}</span>
            </div>
            <p><strong>Dieser Beitrag wird bald verworfen, du solltest ihn nicht weiter verlinken.</strong><p>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ content }}
                </li>
            </ul>
            {% else %}
        <div class="panel">
            <div class="panel-heading">
                <span style="font-size:14pt">{{ page.title }}</span>
            </div>
            {{ content }}
        {% endcase %}
            <div class="panel-footer" style="text-align:right;">
                <a href="#top">nach oben &uarr;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        {% if page.author %}
        <div class="panel">
            <p style="text-align:center">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/88x31.png" /></a>
            </p>
            <ul class="list-group authors">
            {% for user in page.author %}
                <li class="list-group-item{% if page.creator %}{% if page.creator == user.name %} active{% endif %}{% endif %}">
                {% if user.profile %}<a href="http://www.php.de/member.php?u={{ user.profile }}">{% endif %}
                {{ user.name }}{% if page.creator %}{% if page.creator == user.name %} <small>( Ersteller )</small>{% endif %}{% endif %}
                {% if user.profile %}</a>{% endif %}{% unless forloop.last %}, {% endunless %}
                </li>
            {% endfor %}
            </ul>
            <div class="panel-footer" style="text-align:right">
                <small>Autoren und Lizenz</small>
            </div>
        </div>
        {% endif %}
    </div>
</div>
