---
layout: default
---
{% case page.entry-type %}
    {% when 'in-progress' %}{% assign warntype = 'alert-info' %}
    {% when 'in-discussion' %}{% assign warntype = 'alert-info' %}
    {% when 'deprecated' %}{% assign warntype = 'alert-danger' %}
    {% else %}{% assign warntype = 'alert-success' %}
{% endcase %}
{% for editor in page.author %}
    {% if forloop.last %}{% assign currentEditor = editor %}{% endif %}
{% endfor %}
<div class="condensed alert {{ warntype }} introduction">
    {% case page.entry-type %}
        {% when 'in-progress' %}<p><strong>Dieser Beitrag wird zur Zeit von <a href="http://www.php.de/member.php?u={{ currentEditor.profile }}">{{ currentEditor.name }}</a> bearbeitet.</strong></p><p>Beiträge die sich in Bearbeitung befinden enthalten mitunter unvollständige Informationen. Gedulde dich etwas, wir stellen diesen Beitrag so schnell es möglich ist fertig.</p>
        {% when 'in-discussion' %}<p><strong>Dieser Beitrag wird zur Zeit diskutiert und wurde zuletzt von <a href="http://www.php.de/member.php?u={{ currentEditor.profile }}">{{ currentEditor.name }}</a> verändert.</strong></p><p>Beiträge die zur Diskussion gestellt werden enthalten Informationen bei denen wir uns unklar sind, ob sie in diesem Beitrag länger notwendig sind. Gedulde dich etwas, wir stellen diesen Beitrag fertig sobald die Diskussion beendet ist.</p>
        {% when 'deprecated' %}<p><strong>Dieser Beitrag wurde von <a href="http://www.php.de/member.php?u={{ currentEditor.profile }}">{{ currentEditor.name }}</a> als veraltet gekennzeichnet.</strong></p><p>Beiträge die als veraltet gekennzeichnet wurden müssen überarbeitet werden. Wir geben uns mühe die notwendigen Informationen so schnell es geht zusammenzutragen und einzupflegen. Solltest du etwas beisteuern möchten, kannst du im Issue-Tracker unseres Repository einen Eintrag erstellen.</p>
        {% else %}<p><strong>Dieser Beitrag ist fertiggestellt und wurde zuletzt von <a href="http://www.php.de/member.php?u={{ currentEditor.profile }}">{{ currentEditor.name }}</a> bearbeitet.</strong></p>
    {% endcase %}
    {% if page.license-url %}<hr /><p><b>Differenzierte Sourcecode-Lizenz:</b> Der Sourcecode der mit diesem Beitrag weitergegeben wird unterliegt <a href="{{ page.license-url }}">einer anderen Lizenz</a> und wird nicht durch die Gesamtwerk-Lizenz dieses Repositories abgedeckt.</p>{% endif %}
</div>
<div id="guide">
    <div class="group-panel panel panel-default">
        <div class="panel-heading">
            <strong>{{ page.title }}</strong>
        </div>
        <div class="panel-body">
            {% if page.inhalt %}
            <div class="condensed alert introduction contents">
            <dl id="contents">
                {% for curcont in page.inhalt %}
                <dt><span class="glyphicon glyphicon-th-list"></span> <a href="{{ page.url }}#{{ curcont.anchor }}">{{ curcont.name }}</a></dt>
                {% if curcont.simple != empty %}<dd>{{ curcont.simple }}</dd>{% else %}<dd style="display:none"></dd>{% endif %}
                {% endfor %}
            </dl>
            </div>
            {% endif %}
            {{ content }}
        </div>
    </div>
</div>
<div class="condensed alert introduction" style="margin-bottom:5px">
    <p>An diesem Beitrag waren bisher beteiligt: {% for author in page.author %}<a href="http://www.php.de/member.php?u={{ author.profile }}">{{ author.name }}</a>{% unless forloop.last %}{% unless forloop.first and forloop.last %}, {% endunless %}{% endunless %}{% endfor %}</p>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript">
$('pre code').parent().addClass('prettyprint');
</script>
